operationMode="REMOTE" 
authenticationEnabled=B"true" 
productionModeEnabled=B"true" 
networkHostAddresses="{{ host_addesses }}"
logExceptionsOnly="false" 
username="elastic" 
password="{{ elastic_password }}"  
indexNamePrefix="liferay-pod{{ index_Name_Prefix }}-" 