jdbc.default.jndi.name=jdbc/LiferayPool
setup.wizard.enabled=false
passwords.default.policy.change.required=false
learn.resources.enabled=false
company.security.auth.requires.https=false
web.server.protocol=http
com.liferay.portal.kernel.service.http.TunnelUtil.verify.ssl.hostname=false
