operationMode="REMOTE" 
authenticationEnabled=B"true" 
productionModeEnabled=B"true" 
networkHostAddresses={{ host_addresses }}
logExceptionsOnly="false" 
username="elastic" 
password="{{ elastic_password }}"  
indexNamePrefix="liferay-pod{{ index_name_prefix }}-" 