jdbc.default.driverClassName=oracle.jdbc.xa.client.OracleXADataSource
jdbc.default.jndi.name=jdbc/LiferayPool
jdbc.default.url={{ jdbc_default_url }}
jdbc.default.username={{ jdbc_default_username }}
jdbc.default.password={{ jdbc_default_password }}
setup.wizard.enabled=false
passwords.default.policy.change.required=false
learn.resources.enabled=false
company.security.auth.requires.https=false
web.server.protocol=http
com.liferay.portal.kernel.service.http.TunnelUtil.verify.ssl.hostname=false
